
<div class="video-wrap" style="background: #FFEEFF;">
    <video #hardwareVideo autoplay="autoplay" controls="controls"></video>
</div>
  <div class="video-control">
    <button (click)="videoStart()" style="margin: 5px 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer">Включить видео</button>
    <button (click)="videoPause()" style="margin: 5px 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer" *ngIf="isCam">Пауза</button>
  </div>

  <div class="image-manipulation" style="padding: 10px 0;">
     <button (click)="picToCanvas()" style="margin: 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer" *ngIf="isCam">Захватить кадр из видео</button>
     <button (click)="makePhoto()" style="margin: 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer" *ngIf="isCam"> СДЕЛАТЬ ФОТО</button>
    <!-- <button type="button" (click)="sendPicToServer()" style="margin: 5px 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer">Отправить фото на сервер</button>  -->
     <button (click)="clearPhoto()"  style="margin: 5px 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer" *ngIf="isCam">Очистить холст</button>
  </div>
 
 
  <div class="links-wrapper" style="padding: 10px 0;">
    <a (click)="savePhoto()" id="save" style="display: inline-block; margin: 10px; padding: 10px;background: #7DF5D1;border: 1px solid red; cursor: pointer" *ngIf="isCam">Сохранить как картинку</a> <br>
     <!-- <a href="image.php" class="btn btn-success" style="display: inline-block; margin: 10px; padding: 10px;background: #7DF5D1;border: 1px solid red; cursor: pointer"> <span>на страницу с изображением</span></a>   -->
  </div>
  

  <div id="printSection"></div>
  <button (click)="print()" style="margin: 5px 10px; padding: 15px; background: #F59300; border: 1px solid black; cursor: pointer">Печать</button>

<div>
  <canvas id="photo" width="240"></canvas>
</div>


<div class="barcode-wrapper">
</div>

<a href="https://plnkr.co/edit/f1JkCgYvI10rsdm5msmM?p=preview">Link to Plunkr</a>
<input type="file" name="" value="Файл">